body {
	margin: 10px;
	background: url('../images/footer_lodyas.png')
}

#bar {
	width: 100%;
	height: 30px;
	background: #3498db;
}

#bar div {
	width: 33%;
	height: 30px;
	float: left;
	transition: width 500ms;
}

#red {
	background: #9b59b6;
	float: right !important;
}

#green {
}

#blue {
	background: #2ecc71;
}

.button {
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	border-radius: 3px;
	color: #333;
	font: bold 16px/3 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 8px 0;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	width: 150px;
	margin: 10px auto;
	display: block;
}

.button:hover {
	background-color: #dddddd;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
	background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: linear-gradient(top, #dddddd, #bbbbbb);
	border: 1px solid #bbb;
	border-bottom: 1px solid #999;
	cursor: pointer;
	text-shadow: 0 1px 0 #ddd;
}

.button:active {
	border: 1px solid #aaa;
	border-bottom: 1px solid #888;
	-webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}

.textbox
{
	vertical-align:middle;
	font-family:sans-serif;
	font-size:18pt;
	padding:5px;
}
.modal{
	width: 100%;
	height: 100%;
	background: #333333;
	position:absolute;
	top:0px;
	left:0px;
	outline:#666;
	box-shadow: 1px 1px 5px #000;
	z-index:1000000;
}
.mza{
	margin: 0 auto !important;
	display:block !important;
}
.marg-bottom{
	margin-bottom:10px;
}
.sign-in-text{
	width:65% !important;
}
.center{
	text-align: center !important;
}
#login h2{
	color:#FFF;
}
.hidden{
	top:-100%;
}
#cancelButton{
	margin-top:10px;
}
.whtTxt{
	color:#fff !important;
}
.hashtag h2{
	margin-top: 20px;
}
.hashtag *{
	margin-top: 20px;
}
.float{
	float:left;
}
.clear{
	clear:both;
}